body{
    padding:50px;
}

.outer-container{
    display: flex;
    align-items: center;
}

.navbar-cust{
    background-color: #3b5998;
    color: #ddd;
    
}

.navbar-brand{
    color: #ddd;
    font-weight: bold;
    margin-right: 50px;
    
}

.navbar-nav{
    color: rgba(0,0,0,0.5);
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid rgb(0, 0, 0);
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #ddd;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #ddd;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #ddd;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.imagePreview {
    width: 250px;
    height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}

.imgUp
{
  margin-bottom:15px;
}

.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}

.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
  
  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.seminor-login-modal-body .close{
    position: relative;
    top: -45px;
    left: 10px;
}

.seminor-login-modal-body .close{
    opacity:0.75;
}

.seminor-login-modal-body .close:focus, .seminor-login-modal-body .close:hover {
    opacity: 1;
    text-decoration: none;
    outline:0;
}
   
.seminor-login-modal .modal-dialog .modal-content{
    border-radius:0px;
}

/* form animation */
.seminor-login-form .form-group {
    position: relative;
    margin-bottom: 1.5em !important;
}

.seminor-login-form .form-control{
    position: relative;
    border: 0px solid #ffffff !important;
    border-bottom:1px solid #adadad !important;
    border-radius:0 !important;
    box-sizing: border-box;
    outline:none !important;
    outline-width: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.seminor-login-form .form-control:focus, .seminor-login-form .form-control:active{
    outline:none !important;
    outline-width: 0;
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem transparent;
}

*:focus {
    outline: none;  
}

.seminor-login-form{
    padding: 2em 0 0;
}

.form-control-placeholder {
    position: absolute;
    top: 0 !important; 
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.btn-check-log .btn-check-login {
font-size: 16px;
padding: 10px 0;
}

button.btn-check-login:hover {
    color: #fff;
    background-color: #3b5998;
    border: 2px solid #3b5998;
}

.btn-check-login {
    color: #3b5998;
    background-color: transparent;
    border: 2px solid #3b5998;
    transition: all ease-in-out .3s;
}

.btn-check-login {
    display: inline-block;
    padding: 12px 0;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 0;
    width: 100%;
}

.forgot-pass-fau a {
    text-decoration: none !important;
    font-size: 14px;
}

.text-primary-fau {
    color: #1959a2;
}

.select-form-control-placeholder{
    font-size: 100%;
    padding: 7px 0 0 13px;
    margin: 0;
}
   